.article {
    display: grid;
    grid-template-areas: "__img cat"
        "__img title"
        "__img btn-panel";
    grid-template-columns: 1fr 2fr;
    grid-gap: 4px 10px;

    &__img {
        width: 30vw;
        height: 30vw;
        grid-area: __img;
    }

    &__category {
        // background-color: blue;
        grid-area: cat;
        display: flex;

        &--item {
            border: 1px solid green;
            border-radius: 200px;
            padding: 0 12px;
            font-size: 9px;
            line-height: 11px;
            align-items: center;
            text-align: center;
            color: green;
            // background-color: indianred;
        }
    }

    &__title {
        // background-color: red;
        grid-area: title;
    }

    &__btn-panel {
        // background-color: green;
        grid-area: btn-panel;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__btn {
        display: flex;
        border: none;
        border-radius: 200px;
        padding: 0 7px;
        font-size: 13px;
        line-height: 16px;
        height: 23px;
        align-items: center;
        text-align: center;
        margin-left: 5px;

        &--original {
            
        background-color: #CBCBCB;
        }
        &--summary {
            color: white;
            background-color: #CA2400;
            }
    }

}